<html>
    <head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="{{ $.Config.OauthClientId }}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Weight Monitor</h1>
        <p>Some christmas vacation pet coding project. Don't submit any personal data and expect anything from it.</p>

        <h2>Login via Google</h2>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

        <h2>Record weight</h2>

        <input type="number" min="0", max="1000" step="0.1" id="weight">
        <input type="submit" id="submitButton">

            <h2>Your recorded entries</h2>
            <table>
        {{ if .Entries }}
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Weight in kg</th>
                </tr>
                {{ range .Entries }}
                <tr>
                    <td>{{.Date.Format "02 Jan 2006" }}</td>
                    <td>{{.Date.Format "15.04.05" }}</td>
                    <td>{{.Weight }}</td>
                </tr>
                {{end}}
        {{end}}
            </table>
        <script>
            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());
                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);

            $(document).ready(function(){
                $('#submitButton').on('click',function(){
                    console.log(JSON.stringify({
                            "weight": parseFloat($('#weight').val())
                        }))
                    $.ajax({
                        url: "/weight",
                        type: 'POST',
                        data: JSON.stringify({
                            "weight": parseFloat($('#weight').val())
                        }),
                        contentType: 'application/json',
                        headers: {
                            "Authorization": "Bearer " + id_token 
                        },
                        async: true 
                    }).done(function() {
                        console.log('done')
                        $.ajax({
                            url: "/",
                            type: 'GET',
                            contentType: 'text/html',
                            headers: {
                                "Authorization": "Bearer " + id_token 
                            },
                            async: true ,
                            success: function(response) {
                                var table = response.substring(response.indexOf("<table>")+6, response.indexOf("</table>"));
                                $("table").html(table);
                             }
                                        
                        })
                    })
                })
            });

            }
        </script>
    </body>
</html>
